<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>PinConfigurator</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kdbx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>keepassx.icns</string>
			<key>CFBundleTypeName</key>
			<string>KeePassX Password Database</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>kdbx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>PinConfigurator</string>
	<key>CFBundleIconFile</key>
	<string>jack.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.saxmms.pinconfigurator</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigurator</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>KEPX</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2010-2012 saxmms</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
